form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 38px 30px 41px;
  background-color: $color-tangaroa;
}

.form h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: $color-alice-blue;
  text-align: center;
  margin-bottom: 25px;
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding: 13px 13px 12px;
}

.form__control {
  margin-bottom: 20px;

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    left: 235px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}

.form__agreement label {
  display: flex;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.form__agreement input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.form__checkbox-input-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: $color-alice-blue;
  padding-left: 29px;
}

.form__checkbox-input-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $color-alice-blue;
}

input[type="checkbox"]:checked + .form__checkbox-input-icon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  background-image: url("../img/arrow.svg");
  top: 35%;
  left: 20%;
}

.form__btn {
  margin-top: 26px;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  justify-content: center;
}

@media (min-width: $vp-768) {
  .is-invalid input[type="checkbox"] + .form__checkbox-input-icon {
    background-color: #ff0000;
  }

  form {
    padding-top: 48px;
    padding-bottom: 50px;
  }

  .form h3 {
    font-size: 18px;
    line-height: 27px;
    text-align: start;
    padding-left: 18px;
  }

  .form__control {
    align-self: center;
  }

  input {
    width: 303px;
  }

  .form__agreement {
    align-self: center;
  }

  .form__checkbox-input-text {
    line-height: 13px;
    padding-left: 25px;
  }

  .form__checkbox-input-icon {
    width: 18px;
    height: 18px;
  }

  .form__btn {
    margin-top: 33px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: $vp-1024) {
  input {
    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
    }
  }

  .form h3 {
    margin-bottom: 30px;
  }

  form {
    padding-top: 40px;
  }
}
